<h1>Hello from new booking</h1>

<div class="card m-2">
    <div class="card-header">
        <%= @hippoports.find(@selected_flight.hippoport_depart_id).code %> - <%= @hippoports.find(@selected_flight.hippoport_arrival_id).code%>
    </div>
    <div class="card-content">
        <%= @selected_flight.datetime_depart %>
        <%= @selected_flight.duration %>
    </div>
    <div class="card-footer">
        <%= @selected_flight.id %>
    </div>
</div>


<h1>Qui voyage ?</h1>

<%= form_with model: Booking.new do |f| %>
    <%= hidden_field_tag(:flight_id, @selected_flight.id) %>
    <%= hidden_field_tag(:nbpassengers, @nb_passengers) %>
    <% @nb_passengers.times do |i| %>
        <div class="container m-4">
            <h2><strong>Wizard <%= i+1 %></strong></h2>
        
            <%= f.fields_for @booking.wizards.build do |sub_form| %>
                <%= sub_form.label :name, "Name" %>
                <%= sub_form.text_field :name %>
                <%= sub_form.label :email, "Email" %>
                <%= sub_form.text_field :email %>
            <% end %>
        </div>
    <% end %>
    <%= f.submit "Valider les informations des passagers"%>
<% end %>

