<h1>Hello from new booking</h1>

<div class="card m-2">
    <div class="card-header">
        <%= @hippoports.find(@selected_flight.hippoport_depart_id).code %> - <%= @hippoports.find(@selected_flight.hippoport_arrival_id).code%>
    </div>
    <div class="card-content">
        <%= @selected_flight.datetime_depart %>
        <%= @selected_flight.duration %>
    </div>
    <div class="card-footer">
        <%= @selected_flight.id %>
    </div>
</div>


<h1>Qui voyage ?</h1>

<%= form_for @booking do |booking_form| %>
    <%= booking_form.hidden_field :flight_id, value: @selected_flight.id %>
    <%= booking_form.hidden_field :nb_passengers, value: @nb_passengers %>
        <div class="container m-4">
            <% i=1 %>
            <%= booking_form.fields_for :wizards do |wizard_form| %>
                <div class="content">
                    <h4><strong>Wizard <%= i %></strong></h2>
                    <% i+=1 %>
                    <%= wizard_form.label :name, "Name" %>
                    <%= wizard_form.text_field :name %>
                    <%= wizard_form.label :email, "Email" %>
                    <%= wizard_form.text_field :email %>
                </div>
            <% end %>
        </div>
    <%= booking_form.submit "Valider les informations des passagers"%>
<% end %>

<%= @error %>